@import './commons';
@import './fonts';
@import './partials/navbar';
@import './partials/home';
@import './partials/hero';
@import './partials/content';
@import './partials/intro';
@import './partials/about';
@import './partials/service';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $fontFamily !important;
}