.container {
  padding: 2rem;
}

.pointer {
  cursor: pointer;
}

.navbar-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar-logo-container img {
  width: 10rem;
}

.navbar-icons-container img {
  width: 1rem;
  margin-right: 0.8rem;
}

.navbar-icons-container img:last-child {
  margin-right: 0;
}

.navbar-options-container {
  margin-left: 2rem;
  margin-right: 1rem;
}

.navbar-options-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.navbar-options-container ul li {
  margin-right: 1.5rem;
  font-weight: 500;
  cursor: pointer;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
}

.navbar-options-container ul li:hover {
  color: #585858;
}

.navbar-options-container ul li:last-child {
  margin-right: 0;
}

.navbar-options-last {
  border-radius: 10px;
  border: solid 2px #c369e2;
  padding: 0.6rem 1.5rem;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.navbar-options-last:hover {
  background: #c04ae2;
}

.navbar-options-last:hover li {
  color: #FFF;
}

.navbar-options-last li {
  margin: 0 auto;
  font-weight: 700 !important;
}

.navbar-options-last li:hover {
  color: #FFF !important;
}

.home-container {
  height: 100vh;
  background-image: url("../../assets/herobackground.png");
  background-position: center;
  background-size: cover;
  padding: 2rem;
}

.hero-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 13rem;
}

.hero-img img {
  width: 95%;
}

.hero-text {
  margin-top: 3rem;
  width: 75%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: 50% 20% 15%;
      grid-template-rows: 50% 20% 15%;
}

.hero-text h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  line-height: 3.5rem;
}

.hero-text p {
  margin-bottom: 1.5rem;
  font-size: 1.3rem;
  font-weight: 100;
}

.hero-button {
  padding: 0.9rem 2rem;
  background: #c04ae2;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  color: #FFF;
  border-radius: 5px;
  font-weight: 700;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.hero-button:hover {
  color: #585858;
  background: #9c1fc1;
}

.content-container {
  background-image: url("../../assets/intro-about-service.png");
  background-size: cover;
  height: auto;
  margin-top: 1rem;
}

.intro-text {
  width: 60%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  padding: 5rem;
}

.intro-text h2 {
  color: #c04ae2;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.intro-text p {
  font-size: 3rem;
  font-weight: 700;
}

.cards-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card-element-container {
  border-radius: 10px;
  height: 20rem;
  width: 15rem;
  padding: 2rem;
  margin-right: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
}

.card-element-container:last-child {
  margin-right: 0;
}

.card-element-container img {
  width: 3rem;
}

.card-border-pink {
  border: 2px #f8d7df solid;
}

.card-border-green {
  border: 2px #c9f2e1 solid;
}

.card-border-yellow {
  border: 2px #f1d5b9 solid;
}

.card-title {
  font-weight: 700;
  font-size: 1.2rem;
}

.card-description {
  font-weight: 300;
  font-size: 0.8rem;
}

.about-container {
  position: relative;
}

.about-backgound-img {
  position: absolute;
  left: 80%;
  width: 1.2rem;
  -webkit-filter: opacity(0.5);
          filter: opacity(0.5);
}

.about-content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 13rem;
  margin-top: 4rem;
  height: 30rem;
}

.about-img-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 35%;
      grid-template-columns: 35%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  gap: 0.5rem;
}

.about-img-clock {
  background-image: url("../../assets/about/pexels-photo-714701.png");
  -webkit-clip-path: polygon(0 0, 100% 0, 68% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 68% 100%, 0 100%);
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  border-radius: 15px;
  width: 300px;
  height: 290px;
  -ms-grid-row: 1;
  -ms-grid-row-span: 6;
  grid-row: 1 / 7;
}

.about-img-people {
  background-image: url("../../assets/about/pexels-photo-1438072.png");
  -webkit-clip-path: polygon(32% 0, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(32% 0, 100% 0, 100% 100%, 0 100%);
  background-repeat: no-repeat;
  background-position: unset;
  background-size: cover;
  border-radius: 15px;
  width: 300px;
  height: 290px;
  margin-top: 1rem;
  -ms-grid-row: 3;
  -ms-grid-row-span: 7;
  grid-row: 3 / 10;
}

.about-img-asset {
  z-index: 2;
  -ms-grid-row: 7;
  -ms-grid-row-span: 1;
  grid-row: 7 / 8;
  -ms-grid-column-align: end;
      justify-self: end;
  margin: 2rem 1rem 0 0;
}

.about-text-container {
  width: 35%;
  margin-right: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about-text-container h2 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.about-text-container p {
  font-weight: 300;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.about-text-container article {
  font-size: 1rem;
  font-weight: 200;
  margin-bottom: 2rem;
}

.service-container-card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (20%)[3];
      grid-template-columns: repeat(3, 20%);
  -ms-grid-rows: (2%)[16];
      grid-template-rows: repeat(16, 2%);
  gap: 0.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.serviceCard-container {
  width: 15rem;
  height: 19rem;
  background: #FFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.8rem;
  border-radius: 17px;
}

.serviceCard-order--2 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
}

.serviceCard-order--3 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
}

.serviceCard-order--4 {
  -ms-grid-row: 8;
  -ms-grid-row-span: 1;
  grid-row: 8 / 9;
}

.serviceCard-order--5 {
  -ms-grid-row: 9;
  -ms-grid-row-span: 1;
  grid-row: 9 / 10;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
}

.serviceCard-order--6 {
  -ms-grid-row: 10;
  -ms-grid-row-span: 1;
  grid-row: 10 / 11;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
}

.serviceCard-icon {
  width: 3rem;
  margin-bottom: 2rem;
}

.serviceCard-title {
  font-weight: 800;
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

.serviceCard-description {
  font-size: 0.8rem;
  font-weight: 300;
  margin-bottom: 1rem;
  text-align: center;
}

.serviceCard-arrow {
  width: 2rem;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Overpass", sans-serif !important;
}
/*# sourceMappingURL=styles.css.map */